# Created by Ansible

INSTANCE_NAME={{ atl_aws_stack_name }}

AWS_INFO=$(curl -Lsf http://169.254.169.254/latest/dynamic/instance-identity/document)
AWS_ACCOUNT_ID=$(echo "${AWS_INFO}" | jq -r .accountId)
AWS_AVAILABILITY_ZONE=$(echo "${AWS_INFO}" | jq -r .availabilityZone)
AWS_REGION=$(echo "${AWS_INFO}" | jq -r .region)
AWS_EC2_INSTANCE_ID=$(echo "${AWS_INFO}" | jq -r .instanceId)

BITBUCKET_VERBOSE_BACKUP=true
KEEP_BACKUPS=5

{% if atl_ssl_proxy is defined and atl_ssl_proxy == 'true' %}
BITBUCKET_URL=https://{{ atl_proxy_name }}
{% else %}
BITBUCKET_URL=http://{{ atl_proxy_name }}
{% endif %}

BITBUCKET_UID={{ atl_product_user }}
BITBUCKET_GID={{ atl_product_user }}

BACKUP_ZERO_DOWNTIME=true

{% if atl_elasticsearch_s3_bucket is defined and atl_elasticsearch_s3_bucket|length %}
BACKUP_ELASTICSEARCH_TYPE=amazon-es
{% else %}
BACKUP_ELASTICSEARCH_TYPE=
{% endif %}
BACKUP_ARCHIVE_TYPE=

BACKUP_DISK_TYPE=amazon-ebs
STANDBY_DISK_TYPE=none
EBS_VOLUME_MOUNT_POINT_AND_DEVICE_NAMES=({{ atl_shared_mountpoint }}:{{ atl_nfs_server_device }})
HOME_DIRECTORY_MOUNT_POINT={{ atl_shared_mountpoint }}
RESTORE_DISK_VOLUME_TYPE={{ atl_nfs_disk_volume_type }}
RESTORE_DISK_IOPS={{ atl_nfs_disk_volume_iops }}
FILESYSTEM_TYPE={{ atl_nfs_fs_type }}

BACKUP_DATABASE_TYPE=amazon-rds
{% if atl_rds_type is defined and atl_rds_type == 'aurora' %}
IS_AURORA=true
{% else %}
IS_AURORA=
{% endif %}
RDS_INSTANCE_ID={{ atl_rds_instance_id }}
RESTORE_RDS_INSTANCE_CLASS={{ atl_rds_instance_class }}
RESTORE_RDS_MULTI_AZ={{ atl_rds_multi_az }}
RESTORE_RDS_SUBNET_GROUP_NAME={{ atl_rds_subnet_group_name }}
RESTORE_RDS_SECURITY_GROUP={{ atl_rds_security_group }}
DR_RDS_READ_REPLICA=

BACKUP_DEST_AWS_ACCOUNT_ID=$AWS_ACCOUNT_ID
BACKUP_DEST_REGION=$AWS_REGION
BACKUP_DEST_AWS_ROLE={{ atl_aws_iam_role_arn }}

ELASTICSEARCH_INDEX_NAME=bitbucket-search-v1
ELASTICSEARCH_REPOSITORY_NAME=bitbucket-snapshots
ELASTICSEARCH_HOST={{ atl_elasticsearch_host }}
ELASTICSEARCH_S3_BUCKET={{ atl_elasticsearch_s3_bucket }}
ELASTICSEARCH_S3_BUCKET_REGION=us-east-1
ELASTICSEARCH_SNAPSHOT_IAM_ROLE={{ atl_aws_iam_role_arn }}

STANDBY_JDBC_URL=
